<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Milano Cooking Classes</h2>
            <p>Ciao, siamo Piero e Debora
                coltiviamo da sempre una grande passione per la cucina ed insieme abbiamo deciso di dare vita al nostro Home Restaurant a Milano, nel luogo in cui viviamo.
                </p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
              <li class="ftco-animate"><a href="https://www.facebook.com/Homecookingbydebra/"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="https://www.instagram.com/debora_home_cooking/"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Open Hours</h2>
            <ul class="list-unstyled open-hours">
              <li class="d-flex"><span>Monday</span><span>10:00 - 16:00</span></li>
              <li class="d-flex"><span>Tuesday</span><span>10:00 - 16:00</span></li>
              <li class="d-flex"><span>Wednesday</span><span>10:00 - 16:00</span></li>
              <li class="d-flex"><span>Thursday</span><span>10:00 - 16:00</span></li>
              <li class="d-flex"><span>Friday</span><span>10:00 - 16:00</span></li>
              <li class="d-flex"><span>Saturday</span><span>10:00 - 16:00</span></li>
              <li class="d-flex"><span>Sunday</span><span>10:00 - 16:00</span></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Instagram</h2>
            <div class="thumb d-sm-flex">
                  <a href="#" class="thumb-menu img" style="background-image: url(imagesOriginal/c4.jpg);">
                  </a>
                  <a href="#" class="thumb-menu img" style="background-image: url(imagesOriginal/gnocchi.jpg);">
                  </a>
                  <a href="#" class="thumb-menu img" style="background-image: url(imagesOriginal/8.avif);">
                  </a>
              </div>
              <div class="thumb d-flex">
                  <a href="#" class="thumb-menu img" style="background-image: url(imagesOriginal/KYLE.jpg);">
                  </a>
                  <a href="#" class="thumb-menu img" style="background-image: url(imagesOriginal/PAG_86.jpg);">
                  </a>
                  <a href="#" class="thumb-menu img" style="background-image: url(imagesOriginal/MARTY_FAMILY.jpg);">
                  </a>
              </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Termini di Servizio</h2>
            <form action="/terms" class="subscribe-form">
              <div class="form-group">
                <input type="submit" value="Read" class="form-control submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved.
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>
  </footer>

  <div class="joinchat joinchat--right joinchat--btn joinchat--show joinchat--tooltip" 
       data-settings='{"telephone":"393936807104","mobile_only":false,"button_delay":5,"whatsapp_web":true,"qr":false,"message_views":2,"message_delay":10,"message_badge":false,"message_send":"","message_hash":""}'>
      <a href="https://wa.me/393936807104">
       <div class="joinchat__button">
          <div class="joinchat__button__open"></div>
          <div class="joinchat__button__image">
              <img data-src="imagesOriginal/PIERO_COPERTINA.jpg"  
                   data-srcset="imagesOriginal/PIERO_COPERTINA.jpg 2x, 
                                imagesOriginal/PIERO_COPERTINA.jpg 3x" 
                   alt="" 
                   loading="lazy" 
                   src="imagesOriginal/PIERO_COPERTINA.jpg" 
                   class="ls-is-cached lazyloaded" 
                   style="--smush-placeholder-width: 58px; --smush-placeholder-aspect-ratio: 58/58;" 
                   srcset="imagesOriginal/PIERO_COPERTINA.jpg 2x, 
                           imagesOriginal/PIERO_COPERTINA.jpg 3x">
              <noscript>
                  <img src="imagesOriginal/PIERO_COPERTINA.jpg" 
                       srcset="imagesOriginal/PIERO_COPERTINA.jpg 2x, 
                               imagesOriginal/PIERO_COPERTINA.jpg 3x" 
                       alt="" 
                       loading="lazy">
              </noscript>
          </div>
      </div>
    </a>
  </div>


<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/jquery.timepicker.min.js"></script>
<script src="js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>

  
</body>
</html>