<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Milano Cooking Classes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/whatsapp.css">
    <style>
      /* Ensure navbar expands full width */
    /* Ensure navbar expands full width */
    .navbar {
      width: 100%;
    }
    
    /* Ensure navbar options are displayed in a single line and center-aligned */
    .navbar-nav {
      display: flex;
      align-items: center;
      justify-content: center; /* Center-align items */
      width: 100%;
      margin: 0; /* Remove default margin */
    }
    
    
    
    .navbar-nav .nav-link {
      color: #fff;
      white-space: nowrap; /* Prevent text from wrapping */
    }
    
    
    
    .navbar-toggler {
      color: #fff;
      border: none;
    }
    
    .navbar-dark .navbar-toggler:hover, .navbar-dark .navbar-toggler:focus {
      background-color: transparent; /* Adjust hover/focus background color */
    }

  
    .skiptranslate iframe {
      display: none; /* Initially hide the content */
      position: -40px; /* Adjust the value as needed */
  }
    
    
    </style>
  </head>
  <body>
   