<%- include("partials/header.ejs") %>
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">Milano Cooking Classes</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/cookingClasses" class="nav-link">Corsi di cucina</a></li>
            <li class="nav-item"><a href="/personalChefs" class="nav-link">Chef a domicilio</a></li>
            <li class="nav-item"><a href="/cookingTeamBuilding" class="nav-link">Cooking team building</a></li>
            <li class="nav-item"><a href="/recipes" class="nav-link">Ricette</a></li>
            <%if(locals.user) { %>
              <li class="nav-item active"><a href="/logout" class="nav-link">Logout</a></li>
            <% }else{ %>
              <li class="nav-item active"><a href="/login" class="nav-link">Login</a></li>
            <% } %>
	          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
	          <li class="nav-item cta"><a href="/payment" class="nav-link">Pay</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_3.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate text-center mb-4">
            <h1 class="mb-2 bread">Termini di Servizio</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="blog.html">Blog <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog Single<i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section">
			<div class="container">
				<div class="row">

                    <div class="nv-content-wrap entry-content">
                        <h4 class="wp-block-heading">Ultimo aggiornamento: 28 giugno 2024</h4>
                        
                        
                        
                        <p>Benvenuti nella cucina di Debora!&nbsp;Stai ora leggendo i nostri Termini di servizio (“Termini”), un accordo tra te e Debora & Piero Personal Chef (” Milano Cooking Class Host: Debora and Piero “), per l’utilizzo del nostro sito Web e servizio online.&nbsp;Il sito web e il servizio sono disponibili all’indirizzo&nbsp;<a href="https://marcoskitchen-it.translate.goog/?_x_tr_sl=en&amp;_x_tr_tl=it&amp;_x_tr_hl=it&amp;_x_tr_pto=wapp">https://milanocookingclasses.com/</a>&nbsp;&nbsp;(il “Sito”).</p>
                        
                        
                        
                        <p>Per facilitare la lettura dei presenti Termini, il nostro sito Web e servizio online sono denominati “Servizi”.&nbsp;Dovresti leggere attentamente i Termini prima di utilizzare i Servizi: abbiamo cercato di essere diretti e in caso di domande non esitare a inviarci una nota a&nbsp;&nbsp;<a href="https://marcoskitchen-it.translate.goog/cdn-cgi/l/email-protection?_x_tr_sl=en&amp;_x_tr_tl=it&amp;_x_tr_hl=it&amp;_x_tr_pto=wapp#04676b6a7065677044696576676b776f6d70676c616a2a6d70">contact@milanocookingclasses.com</a>&nbsp;Vogliamo che tu ti senta a tuo agio nell’utilizzo dei Servizi e sarà felice rispondere a tutte le domande che hai.</p>
                        
                        
                        
                        <h4 class="wp-block-heading">Cosa c’è con i termini definiti?</h4>
                        
                        
                        
                        <p>Noterai che alcune parole appaiono tra virgolette nei Termini.&nbsp;Si chiamano “termini definiti” e li usiamo per non dover ripetere la stessa lingua ancora e ancora e per assicurarci che i Termini siano coerenti.&nbsp;Abbiamo incluso i termini definiti in tutto perché vogliamo che sia facile per te leggerli nel contesto.</p>
                        
                        
                        
                        <h4 class="wp-block-heading">Definizioni</h4>
                        
                        
                        
                        <ul>
                        <li>“Host” è Milano Cooking Class Host: Debora and Piero che offre e fornisce un’esperienza culinaria.</li>
                        
                        
                        
                        <li>“Viaggiatore” è chi richiede la prenotazione di un’Esperienza culinaria tramite i Servizi.</li>
                        
                        
                        
                        <li>Un'”Esperienza culinaria” è un’esperienza culinaria personalizzata fornita da un Host a un Viaggiatore e potrebbe includere un pasto, un’esperienza culinaria o una visita al mercato, che è disponibile per l’acquisto da parte dei Viaggiatori tramite i Servizi.</li>
                        </ul>
                        
                        
                        
                        <p>L’accesso al Sito e l’utilizzo dei Servizi è a proprio rischio e Milano Cooking Class Host: Debora and Piero declina ogni garanzia, esplicita o implicita, e limita la propria responsabilità nei presenti Termini.&nbsp;Vedrai che abbiamo incluso un disclaimer verso la fine di questi Termini.&nbsp;Se, durante la tua Esperienza culinaria o attraverso l’utilizzo dei Servizi, sei soggetto a comportamenti che ritieni offensivi, minacciosi, pericolosi o altrimenti illegali, o se sospetti furto o danneggiamento della tua proprietà o dei tuoi effetti personali, è necessario contattare immediatamente le autorità locali competenti o l’agenzia di emergenza per la sicurezza (chiamando il 112, l’agenzia locale di pubblica sicurezza per le emergenze).</p>
                        
                        
                        
                        <h4 class="wp-block-heading">Accordo tra te e Milano Cooking Class Host: Debora and Piero</h4>
                        
                        
                        
                        <h6 class="wp-block-heading">Accettando i nostri Termini</h6>
                        
                        
                        
                        <p>Accedendo al Sito o utilizzando i nostri Servizi, accetti di essere vincolato da questi Termini, indipendentemente dal fatto che tu sia registrato o meno ai Servizi.&nbsp;Se non sei d’accordo, non dovresti, e di fatto non ti è permesso, utilizzare i Servizi.&nbsp;Se accedi e utilizzi i Servizi per conto di una società (come il tuo datore di lavoro) o altra persona giuridica, dichiari e garantisci di avere l’autorità per vincolare tale società o altra persona giuridica ai presenti Termini.&nbsp;In tal caso, “tu” e “tuo” si riferiranno a tale società o altra entità legale.</p>
                        
                        
                        
                        <p>Alcune aree del Sito o funzionalità dei Servizi potrebbero avere termini aggiuntivi e dovresti leggere tali termini aggiuntivi.&nbsp;In caso di conflitto tra i presenti Termini e i termini aggiuntivi, i termini aggiuntivi regoleranno l’utilizzo di tali aree del Sito o delle funzionalità dei Servizi.</p>
                        
                        
                        
                        <h6 class="wp-block-heading">Modifiche ai Termini o ai Servizi</h6>
                        
                        
                        
                        <p>Possiamo modificare i Termini in qualsiasi momento.&nbsp;In tal caso, ti informeremo pubblicando i Termini modificati sul Sito o tramite altre comunicazioni.&nbsp;Aggiorneremo anche la “Data dell’ultimo aggiornamento” nella parte superiore di questi Termini.&nbsp;È importante rivedere i Termini modificati perché se continui a utilizzare i Servizi dopo che ti abbiamo comunicato che sono stati modificati, ci stai dicendo che accetti di essere vincolato dai Termini modificati.&nbsp;Se non accetti di essere vincolato dai Termini modificati, non sei più autorizzato a utilizzare i Servizi – scusa!&nbsp;Ci sforziamo sempre di migliorare i Servizi e poiché si evolvono nel tempo, possiamo modificare o interrompere tutti o parte dei Servizi, in qualsiasi momento e senza preavviso, a nostra discrezione.&nbsp;Ad esempio, potremmo interrompere la fornitura di una funzionalità che i nostri utenti non apprezzano o che utilizzano molto spesso.</p>
                        
                        
                        
                        <h6 class="wp-block-heading">Utilizzo dei Servizi</h6>
                        
                        
                        
                        <p>Puoi utilizzare i Servizi solo se hai 18 anni o più e non ti è vietato l’utilizzo dei Servizi ai sensi della legge applicabile.</p>
                        
                        
                        
                        <p>Se desideri utilizzare determinate funzionalità dei Servizi, dovrai creare un account con un nome utente e una password (un “Account”) e diventare un “Membro”.&nbsp;Puoi farlo tramite il nostro sito Web o tramite il tuo account con determinati servizi di social network di terze parti come Facebook (un “Account SNS”).&nbsp;Se scegli l’opzione Account SNS, creeremo il tuo Account estraendo dal tuo Account SNS determinate informazioni personali come il tuo nome e indirizzo e-mail e altre informazioni personali a cui le tue impostazioni sulla privacy sull’Account SNS ci consentono di accedere.</p>
                        
                        
                        
                        <p>È importante che tu ci fornisca informazioni accurate e complete e prometti di mantenere aggiornate le informazioni del tuo account.&nbsp;In caso contrario, potremmo dover sospendere o chiudere il tuo Account.&nbsp;Accetti di non condividere la tua password e ci informerai in caso di utilizzo non autorizzato del tuo account.&nbsp;Sei responsabile di tutte le attività che si verificano sotto il tuo Account e ci informerai immediatamente di qualsiasi uso non autorizzato del tuo Account.</p>
                        
                        
                        
                        <h6 class="wp-block-heading">Politica sulla riservatezza</h6>
                        
                        
                        
                        <p>Si prega di fare riferimento alla nostra Informativa sulla privacy (<a href="https://milanocookingclasses.com/it/privacy-policy-it/">&nbsp;https://milanocookingclasses.com/it/privacy-policy-it&nbsp;</a>) per informazioni su come raccogliamo, utilizziamo e divulghiamo informazioni dai nostri utenti.</p>
                        
                        
                        
                        <h6 class="wp-block-heading">Protezione dati</h6>
                        
                        
                        
                        <p>In qualità di Utente dei nostri Servizi, avrai accesso alle informazioni personali relative ai Servizi, incluso il nome di un Host e la posizione generale.&nbsp;Sei tenuto a utilizzare queste informazioni solo in relazione ai Servizi.&nbsp;Nella misura in cui hai accesso a qualsiasi informazione personale, sei tenuto a rispettare le leggi sulla protezione dei dati applicabili e aderire all’Informativa sulla privacy (&nbsp;&nbsp;<a href="https://milanocookingclasses.com/it/privacy-policy-it/">https://milanocookingclasses.com/it/privacy-policy-it/</a>&nbsp;&nbsp;) nell’elaborazione di tali informazioni.&nbsp;In nessun momento è consentito copiare, alterare o accedere alle informazioni per qualsiasi motivo diverso da quello consentito dai presenti Termini.</p>
                        
                        
                        
                        <h6 class="wp-block-heading">Quanto costa prenotare un’esperienza culinaria?</h6>
                        
                        
                        
                        <p>In qualità di Viaggiatore, dovrai pagare le Tariffe totali per l’Esperienza culinaria (descritte sopra) per goderti un’Esperienza culinaria.&nbsp;Ti diremo quali saranno le tariffe totali per l’esperienza culinaria durante il processo di prenotazione, che potrebbero includere le tasse applicabili e le spese di elaborazione dei pagamenti.&nbsp;I prezzi esatti si basano sul numero di persone che viaggiano e sull’esatto servizio richiesto (un pasto o un pasto e un’esperienza culinaria, ad esempio).&nbsp;Al momento della prenotazione, ai Viaggiatori che richiedono di prenotare verrà fornita la ripartizione completa dei prezzi e verrà richiesto di inserire i dati della propria carta di credito.&nbsp;La carta di credito verrà addebitata solo dopo la conferma della prenotazione.&nbsp;Accettiamo tutte le principali carte di credito che vengono elaborate tramite il sistema di elaborazione sicuro di Stripe.</p>
                        
                        
                        
                        <p>Se effettui una richiesta di prenotazione tramite i Servizi, accetti che (a) potremmo addebitare sulla tua carta di credito a scopo di verifica, pre-autorizzazione e pagamento (e tali addebiti sono pienamente efficaci come pagamenti);&nbsp;(b) accetti di sostenere eventuali costi aggiuntivi che la tua banca o altri fornitori di servizi finanziari potrebbero addebitarti, nonché eventuali imposte che potrebbero essere applicate a te.&nbsp;Riceverai un’e-mail di conferma una volta completata la transazione di prenotazione confermata.&nbsp;In caso di dubbi o obiezioni in merito agli addebiti, accetti di non annullare o rifiutare alcun addebito sulla carta di credito a meno che tu non abbia fatto un ragionevole tentativo di risolvere la questione direttamente con noi.</p>
                        
                        
                        
                        <h6 class="wp-block-heading">Il tuo contratto con noi</h6>
                        
                        
                        
                        <p>Con riferimento alle esperienze presso i locali di Milano Cooking Class Host: Debora and Piero, accetti di lasciare la location al termine della tua esperienza culinaria, o nel caso in cui ti comunichiamo che siamo a disagio con la tua presenza nella location.&nbsp;Tu come Viaggiatore sei responsabile di non condividere e mantenere la privacy delle nostre informazioni di contatto;&nbsp;ai sensi dei presenti Termini, è consentito inviarci messaggi tramite la piattaforma del Sito o contattarci solo se necessario per fornire i Servizi.&nbsp;In qualità di Viaggiatore, riconosci che fornendoci determinate informazioni personali, utilizzeremo tali informazioni personali per fornirti i Servizi.&nbsp;Qualsiasi informazione personale da te fornita sarà protetta come descritto nella nostra Informativa sulla privacy e puoi richiedere ulteriori informazioni inviandoci un’e-mail a&nbsp;&nbsp;<a href="https://marcoskitchen-it.translate.goog/cdn-cgi/l/email-protection?_x_tr_sl=en&amp;_x_tr_tl=it&amp;_x_tr_hl=it&amp;_x_tr_pto=wapp#8cefe3e2f8edeff8cce1edfeefe3ffe7e5f8efe4e9e2a2e5f8">contact@milanocookingclasses.com</a>&nbsp;.</p>
                        
                        
                        
                        <h4 class="wp-block-heading">Cancellazioni</h4>
                        
                        
                        
                        <h6 class="wp-block-heading">Cosa succede se il viaggiatore annulla?</h6>
                        
                        
                        
                        <p>Tu, in qualità di Viaggiatore, puoi cancellare a</p>
                        
                        
                        
                        <ul>
                        <li>Prenotazione confermata di un corso di cucina programmato per un rimborso completo contattandoci fino a quarantotto (48) ore prima della programmazione dell’esperienza culinaria.&nbsp;Se la tua Esperienza culinaria è programmata entro quarantotto (48) ore, non avrai diritto a un rimborso.</li>
                        
                        
                        
                        <li>Prenotazione confermata di un corso di cucina privato, servizio chef o attività di team building per un rimborso completo del deposito versato contattandoci fino a sette (7) giorni prima della data prevista per la tua esperienza culinaria.&nbsp;Se la tua esperienza culinaria è prevista entro sette (7) giorni, non avrai diritto al rimborso dell’acconto versato.</li>
                        </ul>
                        
                        
                        
                        <p>In entrambi i casi, il Viaggiatore sarà rimborsato entro un termine commercialmente ragionevole dopo la data di cancellazione.</p>
                        
                        
                        
                        <h6 class="wp-block-heading">Cosa succede se la Milano Cooking Class Host: Debora and Piero annulla?</h6>
                        
                        
                        
                        <p>Milano Cooking Class Host: Debora and Piero può cancellare una prenotazione confermata per cause di forza maggiore.&nbsp;In questo caso, al Viaggiatore verrà rimborsato l’importo totale finora pagato entro un termine commercialmente ragionevole dopo la data di cancellazione.</p>
                        
                        
                        
                        <h4 class="wp-block-heading">Qual è il problema con il contenuto del sito di Milano Cooking Class Host: Debora and Piero?</h4>
                        
                        
                        
                        <p>Noterai che ci sono molti ottimi contenuti sul sito.&nbsp;“Contenuto” indica testo, grafica, immagini, musica, software, audio, video, opere d’autore di qualsiasi tipo e informazioni o altri materiali che vengono pubblicati, generati, forniti o altrimenti resi disponibili tramite i Servizi.</p>
                        
                        
                        
                        <p>Parte del Contenuto ci appartiene e possediamo quelle fotografie.&nbsp;Se, d’altra parte, fornisci le fotografie, allora non possediamo quelle fotografie.&nbsp;Qualsiasi Contenuto che ci fornisci, incluso il feedback sui Servizi, è chiamato “Il tuo contenuto”.&nbsp;I tuoi contenuti (non sorprendentemente!) sono tuoi e nulla in questi Termini limita i diritti che hai di usarli ora e per sempre.&nbsp;Tuttavia, abbiamo bisogno di ottenere alcune autorizzazioni (chiamate anche “diritti”) da te per rendere disponibili i tuoi contenuti tramite i Servizi.&nbsp;Queste autorizzazioni sono descritte di seguito.</p>
                        
                        
                        
                        <p>Fatta salva la tua proprietà dei tuoi contenuti, possediamo tutti i diritti sui servizi e sui contenuti, inclusi tutti i diritti di proprietà intellettuale associati.&nbsp;Ciò include qualsiasi Contenuto che creiamo o che è stato creato da terzi per o per conto di Milano Cooking Class Host: Debora and Piero e, naturalmente, così come puoi utilizzare i tuoi Contenuti nel modo che preferisci, possiamo anche utilizzare i nostri Contenuti in qualsiasi modo che ci piace, ad esempio possiamo venderlo o usarlo per la pubblicità.</p>
                        
                        
                        
                        <p>I Servizi e i Contenuti sono protetti da copyright, marchi commerciali e altre leggi italiane e straniere, pertanto l’utente accetta di non rimuovere, modificare o oscurare alcun copyright, marchio commerciale, marchio di servizio o altri avvisi di diritti di proprietà incorporati o che accompagnano i Servizi o i Contenuti.</p>
                        
                        
                        
                        <h6 class="wp-block-heading">Diritti che concedi a Milano Cooking Class Host: Debora and Piero</h6>
                        
                        
                        
                        <p>Rendendo disponibili i tuoi contenuti su o tramite i Servizi, con la presente concedi a Milano Cooking Class Host: Debora and Piero una licenza mondiale, irrevocabile, perpetua, non esclusiva, trasferibile, esente da royalty, con il diritto di concedere in sublicenza, utilizzare, visualizzare, copiare, adattare, modificare ( solo per scopi di formattazione), distribuire, concedere in licenza, trasferire, visualizzare pubblicamente, eseguire pubblicamente, trasmettere, trasmettere in streaming, trasmettere, accedere e sfruttare in altro modo i Contenuti dell’utente su, attraverso o mediante i Servizi, anche per scopi commerciali, pubblicitari e promozionali relativi a i Servizi.</p>
                        
                        
                        
                        <p>Concedi inoltre l’autorizzazione a Milano Cooking Class Host: Debora and Piero ad acquisire e utilizzare, direttamente o tramite terzi, pubblicare e diffondere le immagini/video che ti ritraggono nonché le registrazioni audio raccolte nell’ambito dei Servizi, senza limiti di modalità (ad esempio web – social – radio – media, televisione ecc.), tempo e spazio, in Italia e all’estero, con ogni e più ampia facoltà di adattamento/modifica e montaggio che si rendessero necessari/opportuni.<br>Preso atto della pubblicazione/utilizzo delle immagini che ti riguardano nelle modalità sopra descritte, dichiari di non avere nulla a che pretendere nei confronti di Milano Cooking Class Host: Debora and Piero per i danni al tuo nome e/o immagine che possano derivare da un utilizzo pregiudizievole degli stessi ad opera di terzi.<br>Il diritto di utilizzo delle immagini, fotografie, filmati, registrazioni come sopra specificato, è da intendersi a titolo gratuito con espressa rinuncia ad ogni e qualsivoglia pretesa a riguardo.</p>
                        
                        
                        
                        <h6 class="wp-block-heading">Diritti che Milano Cooking Class Host: Debora and Piero ti concede</h6>
                        
                        
                        
                        <p>A condizione che tu rispetti i presenti Termini, Milano Cooking Class Host: Debora and Piero ti concede una licenza limitata, non esclusiva e non trasferibile per (i) accedere e visualizzare qualsiasi Contenuto che appartiene a Milano Cooking Class Host: Debora and Piero esclusivamente per i tuoi scopi personali e non commerciali quando utilizzi i Servizi;&nbsp;(ii) accedere e visualizzare qualsiasi Contenuto appartenente ad altri Membri a cui è consentito l’accesso, esclusivamente per scopi personali e non commerciali quando si utilizzano i Servizi;&nbsp;e (iii) accedere e utilizzare i Servizi tramite un browser Web consumer standard del settore (come MS Internet Explorer, Firefox, Safari, ecc.), esclusivamente allo scopo di fornire e prenotare Esperienze culinarie, come consentito nel presente documento.&nbsp;Non hai il diritto di concedere in sublicenza i diritti di licenza concessi in questa sezione.</p>
                        
                        
                        
                        <p>Non utilizzerai, copierai, adatterai, modificherai, preparerai opere derivate basate su, distribuirai, concederai in licenza, venderai, trasferirai, visualizzerai pubblicamente, eseguirai pubblicamente, trasmetterai, diffonderai o sfrutterai in altro modo il Contenuto, i Servizi o qualsiasi parte di esso, ad eccezione di quanto espressamente consentito in questi Termini.&nbsp;Nessuna licenza o diritto ti viene concesso implicitamente o in altro modo in base a qualsiasi diritto di proprietà intellettuale posseduto o controllato da Milano Cooking Class Host: Debora and Piero o dai suoi licenziatari, ad eccezione delle licenze e dei diritti espressamente concessi nei presenti Termini.</p>
                        
                        
                        
                        <h4 class="wp-block-heading">Non fare cose cattive</h4>
                        
                        
                        
                        <p>Vogliamo davvero che tutti abbiano un’ottima esperienza e si sentano al sicuro quando utilizzano i Servizi.&nbsp;Di conseguenza, accetti di utilizzare i Servizi solo in modo coerente con i Termini di condotta dell’utente, indicati di seguito.&nbsp;In caso contrario, potremmo dover sospendere o chiudere il tuo account.</p>
                        
                        
                        
                        <h6 class="wp-block-heading">Termini di condotta dell’utente</h6>
                        
                        
                        
                        <p>In relazione all’utilizzo dei Servizi, l’utente accetta di non:</p>
                        
                        
                        
                        <ul>
                        <li>utilizzare i Servizi per scopi commerciali o di altra natura non espressamente consentiti dai presenti Termini;</li>
                        
                        
                        
                        <li>copiare, archiviare o altrimenti accedere a qualsiasi informazione contenuta nei Servizi per scopi non espressamente consentiti da Milano Cooking Class Host: Debora and Piero o che violerebbero qualsiasi legge;</li>
                        
                        
                        
                        <li>interferire con o danneggiare i Servizi, incluso, a titolo esemplificativo, attraverso l’uso di virus, cancel bot, cavalli di Troia, codice dannoso, flood ping, attacchi denial-of-service, spoofing di pacchetti o IP, instradamento contraffatto o informazioni sull’indirizzo di posta elettronica o metodi o tecnologie simili;</li>
                        
                        
                        
                        <li>utilizzare i Servizi per trasmettere, distribuire, postare o inviare qualsiasi informazione relativa a qualsiasi altra persona o entità, incluse, a titolo esemplificativo, informazioni di contatto personali o numeri di carta di credito, debito, carta telefonica o conto;</li>
                        
                        
                        
                        <li>utilizzare i Servizi in relazione alla distribuzione di e-mail commerciali indesiderate (“spam”) o pubblicità non correlate alle Strutture;</li>
                        
                        
                        
                        <li>violare qualsiasi legge o regolamento locale, statale, provinciale, nazionale o altro, o qualsiasi ordine di un tribunale, inclusi, a titolo esemplificativo, regolamenti fiscali e regolamenti sulla protezione dei dati;</li>
                        
                        
                        
                        <li>causare danni all’ubicazione o ad altri beni, reali o personali di Milano Cooking Class Host: Debora and Piero o di altro Viaggiatore;</li>
                        
                        
                        
                        <li>utilizzare software, dispositivi, robot di script manuali o automatizzati o altri mezzi o processi, inclusi script automatizzati, per raccogliere informazioni o interagire in altro modo con i Servizi o per accedere, “scrape”, “crawl” o “spider” a qualsiasi pagina Web o altro servizi contenuti nei Servizi o nei Contenuti;</li>
                        
                        
                        
                        <li>“perseguitare” o molestare qualsiasi altro utente dei nostri Servizi o raccogliere o archiviare qualsiasi informazione di identificazione personale su qualsiasi altro utente se non per scopi di transazione come Viaggiatore;</li>
                        
                        
                        
                        <li>impersonare qualsiasi persona o entità, o falsificare o altrimenti travisare te stesso o la tua affiliazione con qualsiasi persona o entità;</li>
                        
                        
                        
                        <li>pubblicare, caricare, pubblicare, inviare o trasmettere qualsiasi Contenuto che: (i) violi, si appropri indebitamente o violi brevetti, diritti d’autore, marchi commerciali, segreti commerciali, diritti morali o altri diritti di proprietà intellettuale di terze parti o diritti di pubblicità o privacy;&nbsp;(ii) violi o incoraggi qualsiasi comportamento che violerebbe qualsiasi legge o regolamento applicabile o darebbe luogo a responsabilità civile;&nbsp;(iii) è fraudolento, falso, fuorviante o ingannevole;&nbsp;(iv) è diffamatorio, osceno, pornografico, volgare o offensivo;&nbsp;(v) promuove la discriminazione, il fanatismo, il razzismo, l’odio, la molestia o il danno contro qualsiasi individuo o gruppo;&nbsp;(vi) è violento o minaccioso o promuove la violenza o azioni che minacciano qualsiasi altra persona;&nbsp;o (vii) promuove attività o sostanze illegali o dannose;</li>
                        
                        
                        
                        <li>utilizzare, visualizzare, rispecchiare o inquadrare i Servizi, o qualsiasi singolo elemento all’interno dei Servizi, il nome di Milano Cooking Class Host: Debora and Piero, qualsiasi marchio, logo o altra informazione proprietaria di Milano Cooking Class Host: Debora and Piero, o il layout e il design di qualsiasi pagina o modulo contenuto in una pagina, senza l’espresso consenso scritto di Milano Cooking Class Host: Debora and Piero;</li>
                        
                        
                        
                        <li>accedere, manomettere o utilizzare aree non pubbliche dei Servizi, i sistemi informatici di Milano Cooking Class Host: Debora and Piero o i sistemi tecnici di consegna dei fornitori di Milano Cooking Class Host: Debora and Piero;</li>
                        
                        
                        
                        <li>tentare di sondare, scansionare o testare la vulnerabilità di qualsiasi sistema o rete di Milano Cooking Class Host: Debora and Piero o violare qualsiasi misura di sicurezza o autenticazione;</li>
                        
                        
                        
                        <li>evitare, aggirare, rimuovere, disattivare, compromettere, decodificare o eludere in altro modo qualsiasi misura tecnologica implementata da Milano Cooking Class Host: Debora and Piero o da qualsiasi fornitore di Milano Cooking Class Host: Debora and Piero o da qualsiasi altra terza parte (incluso un altro utente) per proteggere i Servizi o qualsiasi contenuto dei Servizi ;</li>
                        
                        
                        
                        <li>tentare di decifrare, decompilare, disassemblare o decodificare qualsiasi software utilizzato per fornire i Servizi o il contenuto dei Servizi;&nbsp;o</li>
                        
                        
                        
                        <li>sostenere, incoraggiare o assistere terzi nell’esecuzione di quanto sopra.</li>
                        </ul>
                        
                        
                        
                        <h6 class="wp-block-heading">Diritti di esecuzione di Milano Cooking Class Host: Debora and Piero</h6>
                        
                        
                        
                        <p>Sebbene non siamo obbligati a monitorare l’accesso o l’utilizzo dei Servizi o dei Contenuti o a rivedere o modificare qualsiasi Contenuto, abbiamo il diritto di farlo allo scopo di gestire i Servizi, per garantire la conformità ai presenti Termini o per rispettare le legge applicabile.&nbsp;Ci riserviamo il diritto, ma non siamo obbligati, di rimuovere o disabilitare l’accesso a qualsiasi Contenuto, in qualsiasi momento e senza preavviso, incluso, ma non limitato a, se, a nostra esclusiva discrezione, consideriamo qualsiasi Contenuto discutibile o in violazione delle presenti Condizioni o delle nostre Condizioni di condotta dell’utente.&nbsp;Abbiamo il diritto di indagare sulle violazioni dei presenti Termini o sui comportamenti che incidono sui Servizi.&nbsp;Potremmo anche consultare e cooperare con le autorità preposte all’applicazione della legge per perseguire gli utenti che violano la legge o altri requisiti legali, incluso fornire a tali autorità l’accesso a qualsiasi Contenuto del Sito.</p>
                        
                        
                        
                        <h4 class="wp-block-heading">DMCA/Politica sul diritto d’autore</h4>
                        
                        
                        
                        <p>Milano Cooking Class Host: Debora and Piero rispetta la legge sul copyright e si aspetta che i suoi utenti facciano lo stesso.&nbsp;È politica di Milano Cooking Class Host: Debora and Piero chiudere, in circostanze appropriate, i titolari di account che violano ripetutamente i diritti dei titolari del copyright.</p>
                        
                        
                        
                        <h4 class="wp-block-heading">Collegamenti a siti Web o risorse di terze parti</h4>
                        
                        
                        
                        <p>I Servizi possono contenere collegamenti a siti Web o risorse di terze parti.&nbsp;Forniamo questi collegamenti solo per comodità e non siamo responsabili per il contenuto, i prodotti o i servizi su o disponibili da tali siti Web o risorse o collegamenti visualizzati su tali siti Web di terze parti.&nbsp;Riconosci l’esclusiva responsabilità e ti assumi tutti i rischi derivanti dall’utilizzo di siti Web o risorse di terze parti.</p>
                        
                        
                        
                        <h4 class="wp-block-heading">Risoluzione</h4>
                        
                        
                        
                        <p>Possiamo interrompere i presenti Termini o il tuo accesso ai Servizi, a nostra esclusiva discrezione e senza responsabilità nei tuoi confronti, in qualsiasi momento e con o senza preavviso.&nbsp;In caso di cessazione o cancellazione dei Servizi, sopravvivranno le seguenti disposizioni: Qual è il problema con il contenuto di Milano Cooking Class Host: Debora and Piero?;&nbsp;Diritti che concedi a Milano Cooking Class Host: Debora and Piero;&nbsp;Avvertenze;&nbsp;Limitazione di responsabilità;&nbsp;e risoluzione delle controversie.&nbsp;In caso di cessazione, interruzione o cancellazione dei Servizi o del tuo Account, ti pagheremo tempestivamente tutti gli importi che, a nostra discrezione, stabiliamo di essere legalmente obbligati a pagarti.</p>
                        
                        
                        
                        <h4 class="wp-block-heading">Disclaimer</h4>
                        
                        
                        
                        <p>I SERVIZI E I CONTENUTI VENGONO FORNITI “COSÌ COME SONO”, SENZA GARANZIE DI ALCUN TIPO.&nbsp;SENZA LIMITARE QUANTO SOPRA, DECLINIAMO ESPLICITAMENTE QUALSIASI GARANZIA IMPLICITA DI COMMERCIABILITÀ, IDONEITÀ PER UNO SCOPO PARTICOLARE, TRANQUILLO GODIMENTO E NON VIOLAZIONE E QUALSIASI GARANZIA DERIVANTE DAL CORSO DI TRATTATIVE O USI COMMERCIALI.</p>
                        
                        
                        
                        <p>L’UTENTE ACCETTA DI PRENDERE LE PRECAUZIONI RAGIONEVOLI IN TUTTE LE COMUNICAZIONI E LE INTERAZIONI CON ALTRI UTENTI DEI SERVIZI CON CUI COMUNICHI O INTERAGISCI A SEGUITO DEL TUO UTILIZZO DEI SERVIZI, IN PARTICOLARE SE DECIDI DI INCONTRARTI OFFLINE O DI PERSONA, INDIPENDENTEMENTE DAL FATTO CHE TALI INCONTRI SIANO ORGANIZZATO DA MILANO COOKING CLASS HOST: DEBORA AND PIERO.&nbsp;MILANO COOKING CLASS HOST: DEBORA AND PIERO DECLINA ESPLICITAMENTE OGNI RESPONSABILITÀ PER QUALSIASI ATTO O OMISSIONE DI QUALSIASI VIAGGIATORE O ALTRO TERZO.</p>
                        
                        
                        
                        <h4 class="wp-block-heading">Indennizzo</h4>
                        
                        
                        
                        <p>Difenderai, manleverai e manleverai Milano Cooking Class Host: Debora and Piero e le sue affiliate e consociate, nonché i rispettivi funzionari, direttori, dipendenti e agenti, da e contro qualsiasi reclamo, controversia, richiesta, responsabilità, danno, perdita, sanzione normativa e costo e spesa , incluse, a titolo esemplificativo, spese legali e contabili ragionevoli, derivanti da o in qualsiasi modo connesse con (i) l’accesso o l’utilizzo del Sito, dei Servizi o dei Contenuti, inclusa, a titolo esemplificativo, la prenotazione o la fornitura di un’Esperienza culinaria;&nbsp;(ii) la tua violazione di questi Termini;&nbsp;o (iii) i tuoi contenuti.</p>
                        
                        
                        
                        <h4 class="wp-block-heading">Limitazione di responsabilità</h4>
                        
                        
                        
                        <p>L’UTENTE RICONOSCE E ACCETTA CHE, NELLA MISURA MASSIMA CONSENTITA DALLA LEGGE, L’INTERO RISCHIO DERIVANTE DAL SUO ACCESSO E UTILIZZO DEI SERVIZI E CONTENUTI, LA FORNITURA O LA PRENOTAZIONE DI QUALSIASI ESPERIENZA CULINARIA TRAMITE I SERVIZI E QUALSIASI CONTATTO CHE HAI CON ALTRI GLI UTENTI DEI SERVIZI, DI PERSONA O ONLINE, RIMANONO CON TE.</p>
                        
                        
                        
                        <p>ILLECITO (COMPRESA LA NEGLIGENZA), RESPONSABILITÀ DEL PRODOTTO O QUALSIASI ALTRA TEORIA LEGALE E SE MILANO COOKING CLASS HOST: DEBORA AND PIERO SIA STATA INFORMATA O MENO DELLA POSSIBILITÀ DI TALI DANNI, ANCHE SE SI RISULTA CHE UN RIMEDIO LIMITATO QUI STABILITO NON HA RAGGIUNTO IL SUO SCOPO ESSENZIALE.&nbsp;ALCUNE GIURISDIZIONI NON CONSENTONO L’ESCLUSIONE O LA LIMITAZIONE DI RESPONSABILITÀ PER DANNI CONSEQUENZIALI O ACCIDENTALI, PERTANTO LA LIMITAZIONE DI CUI SOPRA POTREBBE NON ESSERE APPLICABILE.</p>
                        
                        
                        
                        <p>AD ECCEZIONE DEI NOSTRI OBBLIGHI DI PAGARE IMPORTI A GLI OSPITI APPLICABILI AI SENSI DI QUESTI TERMINI, O DI RIMBORSARE GLI IMPORTI AI VIAGGIATORI APPROPRIATI SE APPLICABILE, IN NESSUN CASO LA RESPONSABILITÀ COMPLESSIVA DI MILANO COOKING CLASS HOST: DEBORA AND PIERO DERIVANTE DA O IN RELAZIONE A QUESTI TERMINI E ALL’UTILIZZO DEI SERVIZI DA PARTE DELL’UTENTE, OPPURE DA QUALSIASI COMUNICAZIONE, INTERAZIONE O INCONTRO CON ALTRI UTENTI DEI SERVIZI O ALTRE PERSONE CON CUI COMUNICHI O INTERAGISCI A SEGUITO DEL TUO UTILIZZO DEI SERVIZI, SUPERI GLI IMPORTI PAGATI O DOVUTI PER PRENOTAZIONI TRAMITE I SERVIZI COME VIAGGIATORE NELLA PERIODO DI DODICI (12) MESI PRIMA DELL’EVENTO CHE DÀ ORIGINE ALLA RESPONSABILITÀ, O CENTO DOLLARI ($ 100), SE NON SONO STATI EFFETTUATI TALI PAGAMENTI, COME APPLICABILE.&nbsp;LE LIMITAZIONI DEI DANNI DI CUI SOPRA SONO ELEMENTI FONDAMENTALI ALLA BASE DELL’ACCORDO TRA MILANO COOKING CLASS HOST: DEBORA AND PIERO E L’UTENTE.</p>
                        
                        
                        
                        <h4 class="wp-block-heading">Soluzione della disputa</h4>
                        
                        
                        
                        <h6 class="wp-block-heading">Legge governativa</h6>
                        
                        
                        
                        <p>I presenti Termini e qualsiasi azione ad essi correlata saranno regolati dalle leggi italiane senza riguardo alle disposizioni sul conflitto di leggi.&nbsp;Nella misura in cui un’azione è correlata al regolamento generale sulla protezione dei dati (regolamento 2016/679), tale azione sarà disciplinata dalle leggi del paese in cui hanno avuto origine i dati in questione.</p>
                        
                        
                        
                        <h6 class="wp-block-heading">Accordo di arbitrato</h6>
                        
                        
                        
                        <p>Tu e Milano Cooking Class Host: Debora and Piero accettate che qualsiasi controversia, reclamo o controversia derivante da o relativa a (a) questi Termini o la violazione, risoluzione, applicazione, interpretazione o validità degli stessi, o (b) l’uso del Sito, dei Servizi o dei Contenuti (collettivamente, “Controversie”) saranno risolte mediante arbitrato vincolante, salvo che ciascuna parte si riserva il diritto: (1) di intentare un’azione individuale in un tribunale per controversie di modesta entità e (2) di chiedere un provvedimento ingiuntivo o altro equo provvedimento in un tribunale competente giurisdizione per prevenire l’effettiva o minacciata violazione, appropriazione indebita o violazione dei diritti d’autore, dei marchi commerciali, dei segreti commerciali, dei brevetti o di altri diritti di proprietà intellettuale di una parte (l’azione descritta nella precedente clausola (2), un'”Azione per la protezione della proprietà intellettuale”).&nbsp;Il forum esclusivo,&nbsp;<strong>Riconosci e accetti che tu e&nbsp;</strong><strong>Milano Cooking Class Host: Debora and Piero rinunciate ciascuno al diritto a un processo con giuria o a partecipare come querelante o membro della classe in qualsiasi presunta azione collettiva o procedimento rappresentativo.&nbsp;</strong>&nbsp;Inoltre, a meno che sia l’utente che Milano Cooking Class Host: Debora and Piero non concordino diversamente per iscritto, l’arbitro non può consolidare le rivendicazioni di più di una persona e non può altrimenti presiedere alcuna forma di procedimento di classe o rappresentativo.&nbsp;Se questo paragrafo specifico è ritenuto inapplicabile in un presunto procedimento di classe o rappresentativo, l’accordo di arbitrato sarà considerato nullo.&nbsp;Ad eccezione di quanto previsto nella frase precedente, questa sezione “Risoluzione delle controversie” sopravviverà a qualsiasi risoluzione dei presenti Termini.</p>
                        
                        
                        
                        <h6 class="wp-block-heading">Regole di arbitrato</h6>
                        
                        
                        
                        <p>Ciascuna parte nominerà un arbitro e mentre il terzo arbitro, al quale saranno attribuite le funzioni di presidente, sarà nominato dagli arbitri nominati e in caso di loro disaccordo o inerzia, la nomina avverrà, su richiesta del più parte diligente, dal presidente del tribunale di Milano-Italia.</p>
                        
                        
                        
                        <p>La sede dell’arbitrato è fissata a Milano-Italia. La lingua del procedimento sarà l’italiano.&nbsp;Il collegio arbitrale deciderà entro il termine di 30 giorni nei termini di legge e nel rispetto delle forme e dei modi di cui all’art.&nbsp;806 ss.&nbsp;cpc e principio del contraddittorio.</p>
                        
                        
                        
                        <p>Il lodo sarà) impugnabile ai sensi dell’art.&nbsp;829, co.&nbsp;3, cpc per violazione delle norme di diritto relative al merito della controversia.&nbsp;Nel caso in cui la corte d’appello decidesse nel merito della controversia nei casi di cui all’art.&nbsp;830, co.&nbsp;2, cpc</p>
                        
                        
                        
                        <h6 class="wp-block-heading">Decisione dell’arbitro</h6>
                        
                        
                        
                        <h6 class="wp-block-heading">Commissioni</h6>
                        
                        
                        
                        <h6 class="wp-block-heading">I cambiamenti</h6>
                        
                        
                        
                        <p>Nonostante i termini di “Modifiche ai termini o ai servizi” di cui sopra, se Milano Cooking Class Host: Debora and Piero modifica questa sezione “Risoluzione delle controversie” dopo la data in cui hai accettato per la prima volta i presenti Termini (o accettato qualsiasi modifica successiva ai presenti Termini), puoi rifiutare qualsiasi modifica inviando noi comunicazione scritta (anche tramite e-mail a&nbsp;&nbsp;<a href="https://marcoskitchen-it.translate.goog/cdn-cgi/l/email-protection?_x_tr_sl=en&amp;_x_tr_tl=it&amp;_x_tr_hl=it&amp;_x_tr_pto=wapp#50333f3e24313324103d3122333f233b39243338353e7e3924">contact@milanocookingclasses.com</a>&nbsp;. ) entro 30 giorni dalla data in cui tale modifica è entrata in vigore, come indicato nella data “Ultimo aggiornamento” sopra o nella data dell’e-mail di Milano Cooking Class Host: Debora and Piero che ti ha notificato tale modificare.&nbsp;Rifiutando qualsiasi modifica, accetti di arbitrare qualsiasi Controversia tra te e Milano Cooking Class Host: Debora and Piero in conformità con le disposizioni della presente sezione “Risoluzione delle controversie” a partire dalla data in cui hai accettato per la prima volta i presenti Termini (o accettato eventuali successive modifiche ai presenti Termini) .</p>
                        
                        
                        
                        <h4 class="wp-block-heading">Termini generali</h4>
                        
                        
                        
                        <p>I presenti Termini costituiscono l’intero ed esclusivo accordo e accordo tra Milano Cooking Class Host: Debora and Piero e l’utente in merito al Sito, ai Servizi e ai Contenuti e a qualsiasi prenotazione o fornitura di Esperienze culinarie effettuata tramite i Servizi, e i presenti Termini sostituiscono e sostituiscono qualsiasi e qualsiasi precedente forma orale o scritta intese o accordi tra Milano Cooking Class Host: Debora and Piero e l’utente in merito ai Servizi, ai Contenuti e a qualsiasi prenotazione o fornitura di Esperienze culinarie effettuate tramite i Servizi.&nbsp;Se per qualsiasi motivo un tribunale della giurisdizione competente ritenesse una qualsiasi disposizione dei presenti Termini non valida o inapplicabile, tale disposizione sarà applicata nella misura massima consentita e le altre disposizioni dei presenti Termini rimarranno pienamente valide ed efficaci.</p>
                        
                        
                        
                        <p>L’utente non può cedere o trasferire i presenti Termini, per effetto di legge o in altro modo, senza il previo consenso scritto di Milano Cooking Class Host: Debora and Piero.&nbsp;Qualsiasi tentativo da parte tua di assegnare o trasferire i presenti Termini, senza tale consenso, sarà nullo e privo di effetto.&nbsp;Milano Cooking Class Host: Debora and Piero può cedere o trasferire liberamente i presenti Termini senza restrizioni.&nbsp;Fatto salvo quanto sopra, i presenti Termini saranno vincolanti e avranno effetto a vantaggio delle parti, dei loro successori e cessionari autorizzati.</p>
                        
                        
                        
                        <p>Eventuali avvisi o altre comunicazioni fornite da Milano Cooking Class Host: Debora and Piero all’utente ai sensi dei presenti Termini, inclusi quelli relativi alle modifiche ai presenti Termini, saranno forniti da Milano Cooking Class Host: Debora and Piero: (i) via e-mail;&nbsp;o (ii) pubblicando sul Sito.&nbsp;Per le comunicazioni effettuate tramite e-mail, la data di ricezione sarà considerata la data in cui tale comunicazione viene trasmessa.&nbsp;I presenti Termini si applicano solo a Milano Cooking Class Host: Debora and Piero e a te.&nbsp;I presenti Termini non intendono e non creeranno alcun diritto di terzi beneficiari, ad eccezione di quanto espressamente previsto nei presenti Termini.</p>
                        
                        
                        
                        <p>La mancata applicazione da parte di Milano Cooking Class Host: Debora and Piero di qualsiasi diritto o disposizione dei presenti Termini non sarà considerata una rinuncia alla futura applicazione di tale diritto o disposizione o di qualsiasi altro diritto o disposizione.&nbsp;La rinuncia a qualsiasi diritto o disposizione sarà efficace solo se in forma scritta e firmata da un rappresentante debitamente autorizzato di Milano Cooking Class Host: Debora and Piero.&nbsp;Ad eccezione di quanto espressamente stabilito nei presenti Termini, l’esercizio da parte di una delle parti di uno qualsiasi dei suoi rimedi ai sensi dei presenti Termini non pregiudicherà gli altri suoi rimedi ai sensi dei presenti Termini o altro.</p>
                        
                        
                        
                        <h4 class="wp-block-heading">Hai feedback?</h4>
                        
                        
                        
                        <p>La tua opinione è importante per noi!&nbsp;Se desideri fornirci un feedback sui Servizi, procedi inviandoci un’e-mail a&nbsp;<a href="https://marcoskitchen-it.translate.goog/cdn-cgi/l/email-protection?_x_tr_sl=en&amp;_x_tr_tl=it&amp;_x_tr_hl=it&amp;_x_tr_pto=wapp#b4d7dbdac0d5d7c0f4d9d5c6d7dbc7dfddc0d7dcd1da9addc0">contact@milanocookingclasses.com</a>&nbsp;.</p>
                        
                        
                        
                        <p>.</p>
                        
                        
                        
                        <h4 class="wp-block-heading">Ce l’hai fatta!</h4>
                        
                        
                        
                        <p>Uffa!&nbsp;Hai superato i nostri Termini: buon per te!&nbsp;Adesso vai e goditi i Servizi di Milano Cooking Class Host: Debora and Piero!</p>
                        
                        
                        
                        <div style="height:66px" aria-hidden="true" class="wp-block-spacer"></div>
                        </div>

                </div> <!-- .col-md-8 -->

         
        </div>
			</div>
		</section>
		
    <%- include("partials/footer.ejs") %>